.firstColHome {
  box-sizing: border-box;
  background-image: url(../../assets/img/B.png);
  background-repeat: no-repeat;
  height: 40rem;
  margin-left: 2em;
  text-align: center;
  display: flex;
  margin-top: 2em;
  position: relative;
}

.firstColHome p {
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1.7em;
}

.firstColHome div:nth-child(2) {
  width: 600px;
  text-align: justify;
  margin: 5em 0 0 2em;
  font-size: 1.2em;
  line-height: 1.5em;
}

.secondColHome {
  width: 38%;
}

.firstColHome > img {
  width: 30%;
  margin-top: 4em;
  position: absolute;
  top: 0;
  right: 5em;
}

h3 {
  text-align: center;
  color: #295651;
  margin-bottom: 1.2em;
}

.row:nth-child(2) .col:first-child {
  text-align: justify;
  width: 100%;
  margin: 0 1.2em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}

.row:nth-child(2) .col:nth-child(2) {
  width: 30%;
}
.row:nth-child(2) .col:nth-child(2) img {
  width: 100%;
  object-fit: cover;
}
.custom-icon {
  font-size: 2em;
}

.btn_Home {
  background-color: #8dffa8;
  border: none;
  color: black;
}

.btn_Home:hover {
  background-color: #5ffc84;
}

.row:nth-child(3) .col:first-child img {
  width: 100%;
}

form[data-form-type="type1"] {
  width: 50%;
  background-color: #295651;
  margin: auto;
  color: white;
  padding: 1.2em;
}

form[data-form-type="type1"] .form-control {
  width: 50%;
  margin: auto;
  background-color: #295651;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}

form[data-form-type="type1"] .form-control:focus {
  background-color: #295651;
  border: none;
  border-bottom: 2px solid white;
  box-shadow: none;
}

form[data-form-type="type1"] .form-control:focus-visible {
  outline: none;
  color: white;
}

form[data-form-type="type1"] .form-label {
  color: white;
}

form[data-form-type="type1"] .form-label:focus-visible {
  outline: none;
}

form[data-form-type="type1"] .form-control::placeholder {
  color: white;
  font-size: small;
}

form[data-form-type="type1"] textarea {
  color: white;
}

form[data-form-type="type1"] .btn {
  background-color: #8dffa8;
  width: 7em;
  border: none;
}

form[data-form-type="type1"] .btn:hover {
  background-color: #5af57e;
}
