#firstCOL {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}

#firstCOL div:first-child {
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  background-color: #8dffa8;
  margin-left: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

#firstCOL div:first-child p {
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1.7em;
}

#firstCOL div:nth-child(2) {
  width: 600px;
  text-align: justify;
  margin: 5em 0 0 2em;
  font-size: 1.2em;
  line-height: 1.5em;
}

#firstCOL div:nth-child(3) {
  width: 100px;
  height: 100px;
  background-color: #8dffa8;
  position: absolute;
  top: 23em;
  left: 30em;
}

#firstCOL div:nth-child(4) {
  width: 120px;
  height: 120px;
  background-color: #295651;
  position: absolute;
  top: 25em;
  left: 34em;
}

#secondCOL {
  width: 38%;
}

#secondCOL img {
  width: 100%;
  border: 30px solid #295651;
  margin-top: 4em;
}

#secondCOL div {
  width: 40em;
  height: 30em;
  border: 10px solid #8dffa8;
  position: absolute;
  top: 9em;
  right: 5em;
}

h3 {
  text-align: center;
  color: #295651;
  margin-bottom: 1.2em;
}

.row:nth-child(2) .col:first-child {
  text-align: justify;
  width: 100%;
  margin: 0 1.2em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}

.row:nth-child(2) .col:nth-child(2) {
  width: 30%;
}
.row:nth-child(2) .col:nth-child(2) img {
  width: 100%;
  object-fit: cover;
}
.custom-icon {
  font-size: 2em;
}

.btn_Home {
  background-color: #8dffa8;
  border: none;
  color: black;
}

.btn_Home:hover {
  background-color: #5ffc84;
}

.row:nth-child(3) .col:first-child img {
  width: 100%;
}

form {
  width: 50%;
  background-color: #295651;
  margin: auto;
  color: white;
  padding: 1.2em;
}

.form-control {
  width: 50%;
  margin: auto;
  background-color: #295651;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}
.form-control:focus {
  background-color: #295651;
  border: none;
  border-bottom: 2px solid white;
  box-shadow: none;
}

.form-control:focus-visible {
  outline: none;
  color: white;
}

.form-label {
  color: white;
}

.form-label:focus-visible {
  outline: none;
}

.form-control::placeholder {
  color: white;
  font-size: small;
}

textarea {
  color: white;
}
