.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*CUSTOM CSS*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body,
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link {
  color: white;
}

.navbar-nav {
  --bs-nav-link-disabled-color: white;
}

.dropdown-menu {
  --bs-dropdown-bg: #8effa9;
  --bs-dropdown-border-width: 0px;
  position: absolute;
}

.dropdown-menu.show {
  display: block;
  position: relative;
  top: 45px;
  left: -143px;
  margin-top: 0px;
}

.nav-item.show.dropdown {
  height: 20px;
}

.accordion-button::after {
  width: 0;
}

.pSectionCounter {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.leafleat-container {
  background-color: red;
  height: 200px;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

.custom-border {
  box-shadow: inset 0px 0px 0px 4px #8effa9;
}

.sfocato {
  width: 270px;
  background-color: #8dffa8;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  top: 250px;
  right: 700px;
  box-shadow: 0 0 8px 10px rgba(0, 107, 57, 0.418);
}

.terapie {
  transition: transform 0.5s ease-in-out;
}

.terapie:hover {
  transform: scale(1.2);
}
